{% macro edit_field(field, catch_kwargs=true) %}
  <div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class="control-label") }}
  <div class="controls">
    {{ field(**kwargs) }}
    {% for error in field.errors %}
     <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>
  </div>
{% endmacro %}

{% macro detail(product,
  link_title=false,show_edit=true,
  show_description=true) %}
<div class="product-detail">
  {% if link_title %}
    <p>
    <h3>
      Item: 
      <form action="/products/{{product._id}}" method="get">
        <button type="submit" value="Detail Product">{{product.name}}
    </form> 
    
    </h3>
  </p>
  {% else %}
  <p>
    <h3>{{ product.name }}</h3>
  </p>
  {% endif %}
  <p> Price: {{ product.price }} €</p>

  {% if show_description and product.description %}
  <div class="row">
    <p class="span5">{{ product.description }}</p>
  </div>
  {% endif %}
  {% if show_edit %}
  <div class="edit-controls">
    <span class="inline-pad"></span>
    <form action="/products/{{product._id}}/edit/" method="get">
      <button type="submit" value="EditProduct"><i class="icon-pencil"></i>
    </form>  



    <span class="inline-pad"></span>
    <form action="/products/{{product._id}}/delete/" method="DELETE">
      <button type="submit" value="DeleteProduct"><i class="icon-trash"></i>
    </form>  
  </div>
{% endif %}


  </div>
  {% endmacro %}